@import "~@angular/material/theming";

.album {
    position: relative;
    display: block;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img.background {
    display: none;
}

mat-card {
    max-width: 800px;
    margin: 128px auto;
}

mat-card-title {
    max-width: calc(100% - 56px);
}

.play {
    position: absolute;
    top: -28px;
    right: 16px;

    i {
        font-size: 24px;
    }
}

@media screen and (max-width: 599px) {
    .album {
        background: none !important;
    }

    mat-card {
        margin: 100vw 0 48px;
        border-radius: 0;
    }

    img.background {
        display: block;
        height: 100vw;
        width: 100vw;
        position: fixed;
        object-fit: cover;
    }
}

.album__card-image,
.album__card-placeholder {
    margin-right: 16px;
}

.album__card-placeholder {
    width: 64px;
    height: 64px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(black, 0.1);
    border-radius: 2px;
}

.album__title {
    margin-bottom: 4px;
    line-height: 20px;
}

.explicit-icon {
    font-size: 14px;
    display: inline-block;
    background: mat-color($mat-deep-orange, 500);
    padding: 0 3px;
    margin-bottom: -2px;
    border-radius: 2px;
    overflow: hidden;
    font-weight: bold;
}

.album-actions {
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.album-actions__advanced {
    display: contents;
}
