.album {
    position: relative;
    display: block;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img.background {
    display: none;
}

mat-card {
    max-width: 800px;
    margin: 128px auto;
}

mat-card-title {
    max-width: calc(100% - 56px);
}

.play {
    position: absolute;
    top: -28px;
    right: 16px;

    i {
        font-size: 24px;
    }
}

@media screen and (max-width: 599px) {
    .album {
        background: none !important;
    }

    mat-card {
        margin: 100vw 0 48px;
        border-radius: 0;
    }

    img.background {
        display: block;
        height: 100vw;
        width: 100vw;
        position: fixed;
        object-fit: cover;
    }
}

.album__card-image {
    padding-right: 16px;
}

.album__title {
    margin-bottom: 4px;
    line-height: 20px;
}
