@import '~@angular/material/theming';

$width: 192px;
$height: 64px;

.artist-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    height: $height;
    width: $width;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
        @include mat-elevation(1);
    }
}

.artist-card__image,
.artist-card__placeholder {
    width: $height;
    height: $height;
    border-radius: 2px;
    flex-shrink: 0;
}

.artist-card__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.artist-card__name {
    padding: 16px;
}
