@import '~@angular/material/theming';

$width: 172px;
$border-width: 6px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        img,
        .placeholder {
            @include mat-elevation(4);
        }
    }
}

img,
.placeholder {
    @include mat-elevation(2);

    transition: all 0.15s ease-in-out;
    border-radius: 100%;
    height: $width - 2 * $border-width;
    width: $width - 2 * $border-width;
    border: 6px solid white;
    margin-bottom: 4px;
    object-fit: cover;
    cursor: pointer;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dddddd;
    color: #ffffff;
    font-size: 64px;
}

span {
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: $width;
    text-align: center;
    color: black;
}