<mat-toolbar>
    <mat-toolbar-row fxLayout="row"
                     fxLayoutAlign="start center">
        <div fxLayout="row" fxFlex>
            <img class="coverart" [src]="coverart" *ngIf="(current$ | async)?.coverart as coverart"/>
            <div class="current-track" fxLayout="column" fxLayoutAlign="center start" fxFlex>
                <span class="mat-body-2">{{(current$ | async)?.title}}</span>
                <a *ngIf="(current$ | async)?.artist as artist" [routerLink]="['/library/artists', artist.cursor]" class="mat-body-1">{{ artist.name }}</a>
            </div>
        </div>
        <div fxFlex.gt-sm fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button (click)="prev($event)" fxHide.xs [disabled]="queueIsEmpty$ | async">
                <i class="mdi mdi-skip-previous"></i>
            </button>
            <button mat-icon-button (click)="toggle($event)" [disabled]="queueIsEmpty$ | async">
                <i class="mdi"
                   [class.mdi-play]="!playing"
                   [class.mdi-pause]="playing"></i>
            </button>
            <button mat-icon-button (click)="next($event)" fxHide.xs [disabled]="queueIsEmpty$ | async">
                <i class="mdi mdi-skip-next"></i>
            </button>
        </div>
        <div fxFlex fxHide.lt-md fxLayout="row" fxLayoutAlign="end center">
            <mat-slider min="0" max="1" step="0.1" [value]="volume$ | async" (change)="onUpdateVolume($event)"></mat-slider>
            <button mat-icon-button
                    (click)="toggleQueue()"
                    #queueToggle>
                <i class="mdi mdi-playlist-play"></i>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="pull-up-queue"
     [fxShow]="showQueue"
     fxHide.gt-sm>
    <rms-queue></rms-queue>
</div>
<ng-template cdk-portal #queueOverlay="cdkPortal">
    <mat-card fxFlex style="width: 100%; overflow: auto;">
        <rms-queue></rms-queue>
    </mat-card>
</ng-template>
