<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <button mat-icon-button (click)="onToggleSidenav()" class="menu-btn">
            <i class="mdi mdi-menu"></i>
        </button>
        <span fxFlex>Rustic</span>
        <div class="search-bar" fxHide.xs>
            <i class="mdi mdi-search"></i>
            <input type="search"
                   placeholder="Search or enter url to open"
                   [formControl]="searchControl"/>
        </div>
        <span fxFlex fxHide.lt-md></span>
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
            <mat-icon svgIcon="dots-vertical"></mat-icon>
        </button>
        <mat-menu #optionsMenu>
            <button *ngIf="!darkTheme"
                    mat-menu-item
                    (click)="onToggleDarkTheme()">
                Dark Theme
            </button>
            <button *ngIf="darkTheme"
                    mat-menu-item
                    (click)="onToggleDarkTheme()">
                Light Theme
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div class="header__search-suggestion-container" *ngIf="suggestions$ | async as suggestions">
    <div class="header__search-suggestions">
        <div class="header__search-suggestion-track" *ngFor="let track of suggestions" [rmsQueueTrack]="track">
            <img class="header__search-suggestion-coverart" [src]="track.coverart" *ngIf="track.coverart" loading="lazy">
            <mat-icon class="header__search-suggestion-coverart-placeholder placeholder-icon" svgIcon="music-circle" *ngIf="!track.coverart"></mat-icon>
            <span class="header__search-suggestion-provider provider-badge--{{track.provider}} mdi mdi-{{(track.provider | provider).icon}}">
            </span>
            <span class="header__search-suggestion-title">{{ track.title }}</span>
            <span class="header__search-suggestion-subtitle">{{ track.artist?.name }}</span>
        </div>
    </div>
</div>
