<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <button mat-icon-button (click)="onToggleSidenav()" class="menu-btn">
            <i class="mdi mdi-menu"></i>
        </button>
        <span fxFlex="25%">Rustic</span>
        <div class="search-bar" fxHide.xs>
            <i class="mdi mdi-search"></i>
            <input type="search"
                   placeholder="Search"
                   [formControl]="searchControl"/>
        </div>
        <span fxFlex="20%" fxHide.lt-md></span>
    </mat-toolbar-row>
</mat-toolbar>