@import '../../providers';

$height: 24px;

$highlight: #e0e0e0;
$default: #d9d9d9;

@mixin provider($color) {
    &.selected {
        background: $highlight;
        border-color: $color;
        
        mat-icon {
            fill: $color;
        }
    }
}

.chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $height;
    border-radius: $height;
    padding: 6px 16px 6px 12px;
    margin-right: 8px;
    cursor: pointer;
    background: $default;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
    border: 2px solid $default;

    @each $name, $value in $providers {
        &.#{$name} {
            @include provider($value);
        }
    }

    mat-icon {
        margin-right: 4px;
    }
}