@import '~@angular/material/theming';
@import '../../../providers';

$width: 256px;
$height: 64px;

.playlist-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    height: $height;
    width: $width;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
        @include mat-elevation(1);
    }
}

.playlist-card__placeholder {
    width: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-left: 8px;
}

.playlist-card__name {
    padding: 8px;
}

.playlist-card__name {
    padding: 16px 8px;
    flex: 1;
}

.playlist-card__provider {
    width: 16px;
    align-self: flex-start;
}

@each $name, $value in $providers {
    .playlist-card__provider--#{$name} {
        fill: $value;
    }
}
