<div class="queue__header">
    <h2 class="queue__title">Queue</h2>
    <button class="queue__clear-btn"
            mat-button
            (click)="clear()"
            [disabled]="(queue$ | async)?.length === 0">
        Clear
    </button>
</div>
<mat-list cdkDropList (cdkDropListDropped)="onReorder($event)">
    <mat-list-item *ngFor="let track of queue$ | async; let i = index" cdkDrag>
        <img matListAvatar [src]="track.coverart">
        <h3 matLine>{{track.title}}</h3>
        <p matLine>{{track.artist?.name}}</p>
        <button mat-icon-button (click)="removeItem(i)">
            <mat-icon svgIcon="delete"></mat-icon>
        </button>
        <div *cdkDragPreview [matchSize]="true">
            <h3>{{track.title}}</h3>
        </div>
    </mat-list-item>
</mat-list>
