:host {
    display: flex;
    flex-direction: column;
    margin: 16px 0 16px 16px;
    position: relative;
}

.playlists__add-playlist-btn {
    position: fixed;
    bottom: 64px + 16px;
    right: 16px;

    i {
        font-size: 24px;
    }
}
