@import '~@angular/material/theming';

@mixin placeholder-icon-theme($theme) {
    $dark: map-get($theme, is-dark);
    $foreground: if($dark, $light-secondary-text, $light-primary-text);
    $background: rgba(black, 0.2);

    .placeholder-icon {
        // HACK: needed because of mat-icon
        padding: 8px !important;
        background: $background;
        color: $foreground;
    }

    .placeholder-icon--badge {
        mask: url(/assets/cover-mask.svg);
    }
}
