<div *ngIf="current$ | async as current" class="player-page__current-track">
    <h2 class="player-page__current-track-title">Currently playing</h2>
    <img class="player-page__current-track-coverart" [src]="coverart" *ngIf="current?.coverart as coverart"/>
    <div class="player-page__current-track-metadata">
        <span>{{ current.title }}</span>
        <a [routerLink]="['/library/albums', current.album?.cursor]">{{ current.album?.title }}</a>
        <a [routerLink]="['/library/artists', current.artist?.cursor]">{{ current.artist?.name }}</a>
        <span class="provider-badge--{{current.provider}} mdi mdi-{{(current.provider | provider).icon}}">
            {{ (current.provider | provider).label }}
        </span>
    </div>
</div>

<div class="player-page__queue">
    <h2 class="player-page__queue-title">Queue</h2>
    <mat-table [dataSource]="queue$">
        <ng-container matColumnDef="coverart">
            <mat-header-cell *matHeaderCellDef class="player-page__coverart-column"></mat-header-cell>
            <mat-cell *matCellDef="let row" class="player-page__coverart-column">
                <img class="player-page__queue-coverart" width="40" height="40" [src]="coverart" *ngIf="row?.coverart as coverart"/>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artist">
            <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="row.artist" [routerLink]="['/library/artists', row.artist.cursor]">{{ row.artist.name }}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="album">
            <mat-header-cell *matHeaderCellDef>Album</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a *ngIf="row.album" [routerLink]="['/library/albums', row.album.cursor]">{{ row.album.title }}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="provider">
            <mat-header-cell *matHeaderCellDef class="player-page__provider-column">Provider</mat-header-cell>
            <mat-cell *matCellDef="let row" class="player-page__provider-column">
                <span class="player-page__provider-badge provider-badge--{{row.provider}} mdi mdi-{{(row.provider | provider).icon}}"></span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['coverart', 'title', 'artist', 'album', 'provider']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['coverart', 'title', 'artist', 'album', 'provider']"></mat-row>
    </mat-table>
</div>
