<div class="extensions">
    <h2>Extensions</h2>
    <mat-expansion-panel *ngFor="let extension of extensions$ | async; trackBy:trackMethod">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ extension.name }}</mat-panel-title>
            <mat-panel-description>
                v{{ extension.version }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="extension.enabled">
            <div *ngFor="let info of extension.controls.infos" class="link-info">
                <img [rmsQrCode]="info.value" [size]="256"/>
                <a href="{{ info.value }}" target="_blank">{{ info.value }}</a>
            </div>
        </div>
        <mat-action-row>
            <button mat-button color="accent" (click)="disable(extension)" *ngIf="extension.enabled">Disable</button>
            <button mat-button color="accent" (click)="enable(extension)" *ngIf="!extension.enabled">Enable</button>
        </mat-action-row>
    </mat-expansion-panel>
</div>
