@import "../../../../../node_modules/@angular/material/theming";
@import "../../../providers";

$width: 200px;
$radius: 4px;

:host {
    @include mat-elevation(2);

    display: grid;
    grid-template-columns: 8px auto 8px 24px 4px;
    grid-template-rows: ($width - 32px - 4px) 32px 4px 4px 20px 16px 8px;

    background: white;
    border-radius: $radius;
    width: $width;
    transition: 0.15s all ease-in-out;
    cursor: pointer;
    
    color: black;

    &:hover {
        @include mat-elevation(4);
        background: #fefefe;
    }
}

.title,
.artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    grid-column: 2 / 4;
    grid-row: 5;
    font-weight: bold;
    opacity: 0.9;
}

.artist {
    grid-column: 2 / 4;
    grid-row: 6;
    opacity: 0.54;
    font-size: 12px;
}

mat-icon {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    width: 24px;
    height: 24px;
}

img {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    width: $width;
    height: $width;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@each $name, $value in $providers {
    .#{$name} {
        fill: $value;
    }
}

