<form [formGroup]="form" (ngSubmit)="onSubmit()" class="provider-password-authentication">
    <mat-form-field appearance="outline" class="provider-password-authentication__username-field">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="provider-password-authentication__password-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
    </mat-form-field>
    <button class="provider-password-authentication__login-btn"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            type="submit">
        Login
    </button>
</form>

