.provider-password-authentication {
    max-width: 300px;
    display: grid;
    grid-template-areas: 'username password' 'login login';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    padding: 16px;
}

.provider-password-authentication__username-field {
    grid-area: username;
}

.provider-password-authentication__password-field {
    grid-area: password;
}

.provider-password-authentication__login-btn {
    grid-area: login;
    align-self: flex-start;
}
