@import 'node_modules/@angular/material/theming';

.search-bar {
    height: 48px;
    border-radius: 2px;
    max-width: 700px;
    width: 100%;

    input {
        background: none;
        border: none;
        height: 48px;
        width: 100%;
        padding-left: 16px;
        font-size: 14px;
        -webkit-appearance: none;
    }
}

.menu-btn {
    margin-right: 16px;
}

.mdi {
    font-size: 24px;
}

.header__search-suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 56px;
}

.header__search-suggestions {
    max-width: 700px;
    width: 100%;
    border-radius: 2px;
    @include mat-elevation(2);
    margin-left: 16px; // HACK: the search bar is not properly centered
}

.header__search-suggestion {
    padding: 8px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 48px 1fr 48px;
    //grid-template-rows: 1fr 1fr;
    height: 48px;
    align-items: center;
    grid-template-areas: 'coverart title provider' 'coverart subtitle provider';
    cursor: pointer;

    &:hover {
        background: rgba(black, 0.2);
        text-decoration: none;
    }
}

.header__search-suggestion-coverart,
.header__search-suggestion-coverart-placeholder {
    grid-area: coverart;
    height: 48px;
    width: 48px;
    object-fit: cover;
    box-sizing: border-box;
}

.header__search-suggestion-provider {
    grid-area: provider;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 100%;
    background-color: rgba(black, 0.1);
    border-radius: 100%;
}

.header__search-suggestion-title {
    grid-area: title;
}
.header__search-suggestion-subtitle {
    grid-area: subtitle;
}
