<ng-container *ngIf="playlist$ | async as playlist">
    <mat-card>
        <mat-card-title>{{playlist.title}}</mat-card-title>
        <mat-card-content fxLayout="column">
            <span class="mat-caption">{{playlist.tracks.length}} Tracks</span>
        </mat-card-content>
        <mat-card-content>
            <mat-nav-list>
                <a mat-list-item *ngFor="let track of playlist.tracks" (click)="queueTrack(track)">
                    <h3 matLine>{{track.title}}</h3>
                    <p matLine *ngIf="track.duration">{{track.duration | duration}}</p>
                </a>
            </mat-nav-list>
        </mat-card-content>
        <button mat-fab class="play" (click)="queuePlaylist(playlist)">
            <i class="mdi mdi-playlist-play"></i>
        </button>
    </mat-card>
</ng-container>
