<ng-container *ngIf="playlist$ | async as playlist">
    <mat-card>
        <mat-card-title>{{playlist.title}}</mat-card-title>
        <mat-card-content fxLayout="column">
            <span class="mat-caption">{{playlist.tracks.length}} Tracks</span>
        </mat-card-content>
        <mat-card-content>
            <mat-action-list>
                <rms-track-list-item *ngFor="let track of playlist.tracks" [track]="track">
                </rms-track-list-item>
            </mat-action-list>
        </mat-card-content>
        <button mat-fab class="play" (click)="queuePlaylist(playlist)">
            <i class="mdi mdi-playlist-plus"></i>
        </button>
    </mat-card>
</ng-container>
