@import '~@angular/material/theming';
@import '../../theme';

:host a[mat-list-item] {
    color: inherit;

    &:not(.active) mat-icon {
        opacity: 0.7;
    }

    &.active,
    &.active:focus {
        opacity: 1;
        color: mat-color($rms-accent);
        background: rgba(mat-color($rms-accent), 0.1);
    }
}
