<mat-nav-list>
    <a mat-list-item routerLink="/library/albums" [class.active]="inLibrary">
        <mat-icon matListIcon svgIcon="library-music">
        </mat-icon>
        <h3 matLine>Library</h3>
    </a>
    <a mat-list-item routerLink="/explore" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="folder-multiple">
        </mat-icon>
        <h3 matLine>Explore</h3>
    </a>
    <a mat-list-item routerLink="/playlists" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="playlist-play">
        </mat-icon>
        <h3 matLine>Playlists</h3>
    </a>
    <a mat-list-item routerLink="/extensions" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="puzzle">
        </mat-icon>
        <h3 matLine>Extensions</h3>
    </a>
</mat-nav-list>