@import '~@angular/material/theming';

@include mat-core();

$rms-primary: mat-palette($mat-blue-grey);
$rms-accent:  mat-palette($mat-deep-orange, A200, A100, A400);

$rms-theme: mat-light-theme($rms-primary, $rms-accent);

@include angular-material-theme($rms-theme);
