<rms-search-provider></rms-search-provider>
<div fxLayout="row" fxFill fxLayoutAlign="center center" *ngIf="pending$ | async">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
</div>
<ng-container *ngIf="results$ | async as results">
    <ng-container *ngIf="results.artists.length">
        <h2>Artists</h2>
        <div fxLayout="row">
            <rms-artist-card *ngFor="let artist of results.artists"
                             [artist]="artist">
            </rms-artist-card>
        </div>
    </ng-container>
    <ng-container *ngIf="results.albums.length">
        <h2>Albums</h2>
        <div fxLayout="row">
            <rms-album-card *ngFor="let album of results.albums"
                            [album]="album">
            </rms-album-card>
        </div>
    </ng-container>
    <ng-container *ngIf="results.playlists.length">
        <h2>Playlists</h2>
        <div fxLayout="row">
        </div>
    </ng-container>
    <ng-container *ngIf="results.tracks.length">
        <h2>Tracks</h2>
        <mat-list>
            <rms-track-list-item *ngFor="let track of results.tracks"
                                 [track]="track">
            </rms-track-list-item>
        </mat-list>
    </ng-container>
</ng-container>

