<div class="queue__header">
    <h2 class="queue__title">Queue</h2>
    <button class="queue__clear-btn"
            mat-button
            (click)="clear()"
            [disabled]="(queue$ | async)?.length === 0">
        Clear
    </button>
</div>
<mat-list cdkDropList (cdkDropListDropped)="onReorder($event)">
    <mat-list-item *ngFor="let track of queue$ | async; let i = index" cdkDrag class="queue__list-item" [class.queue__list-item--active]="track.playing">
        <img matListAvatar [src]="track.coverart" class="queue__coverart">
        <span class="provider-badge provider-badge--{{track.provider}}">
             <i class="mdi mdi-{{(track.provider | provider).icon}}">
             </i>
        </span>
        <h3 matLine>{{track.title}}</h3>
        <a *ngIf="track.artist" [routerLink]="['/library/artists', track.artist.cursor]" matLine>{{track.artist.name}}</a>
        <button mat-icon-button (click)="removeItem(i)" *ngIf="!track.playing">
            <mat-icon svgIcon="delete"></mat-icon>
        </button>
        <mat-icon svgIcon="volume-high" *ngIf="track.playing"></mat-icon>
        <div *cdkDragPreview [matchSize]="true">
            <h3>{{track.title}}</h3>
        </div>
    </mat-list-item>
</mat-list>
