.queue__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.queue__title {
    flex: 1;
    margin: 0;
}

.queue__clear-btn {
}

.queue__list-item {
    position: relative;
}

.queue__list-item--active {
    background: rgba(black, 0.2);
    border-radius: 2px;
}

.queue__coverart {
    mask: url('/assets/cover-mask.svg');
}
